<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<section>
  <p>
    Title: {{ track }}
  </p>
  <p>
    Order: {{ track.order }}
  </p>
  <p>
    File: {{ track.track_file }}
  </p>
  <p>
    Album: {{ track.album }}
  </p>
  <p>
    Artist: {{ track.artist }}
  </p>
  <p>
    Biography: {{ bio }}
  </p>
</section>
</body>
</html>